
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Append</title>
    <script src="~/js/lib/jquery-3.1.1.min.js"></script>
    <script src="~/js/Version.js"></script>
</head>
<body>
    <div> 
        这里添加版本啦
        <br />
        版本标题：<input type="text" id="title" />
        <br />
        版本内容：<textarea rows="10" cols="10" id="content"></textarea>
        <br />
        <button id="submit" onclick="submit()">提交</button>
    </div>
</body>
</html>
