
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/js/upFile.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>imgUp</title>
</head>
<body>
    <div> 
        <input id="input" type="file" value="上传文件"/>
        <button disabled='true'  onclick="submit()" id="submit">上传</button>
    </div>
</body>
</html>
